body {
  background-color: #272343;
}

.App {
  position: relative;
  text-align: center;
  margin-bottom: 10%;
  text-align: center;
  align-items: center;
  margin-top: 10%;
}
.card {
  align-items: center;
  align-items: center;
  align-items: center;
}
